@use "../../../windows/utils/variables" as v;

.sections {
	display: grid;
	grid-template-columns: 0.8fr 1.2fr;

	width: 100%;

	.drives-list,
	.folder-list {
		display: flex;
		flex-flow: column nowrap;

		span {
			color: v.$color-text-default !important;
			width: fit-content;
			background-color: transparent !important;
			overflow: hidden;
			display: -webkit-box;
			line-clamp: 3;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			&:hover {
				color: v.$color-text-primary !important;
			}
		}
	}
}
