.add-server-btn {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	outline: none;
	border: none;

	gap: 0.5rem;

	cursor: pointer;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		min-width: 1.5rem;
		min-height: 1.5rem;
		max-width: 1.5rem;
		max-height: 1.5rem;
	}

	span {
		font-size: small;
	}
}
