@use "../../../utils/variables" as v;

.server-btn {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	text-align: left;

   background-color: transparent;
   outline: none;
   border: none;

   cursor: pointer;

	padding: 0.3em;
	gap: 0.5rem;
	width: 100%;

	svg {
		min-width: 2em;
		min-width: 2em;
		max-width: 2em;
		max-height: 2em;
		width: 2em;
		height: 2em;

      path {
         fill: v.$color-text-default;
      }
	}

	span {
		width: 100%;
      color: v.$color-text-default;
		transition: color 0.3s ease;

		font-size: small;
		overflow: hidden !important;
		text-overflow: ellipsis;
		white-space: nowrap !important;
		max-width: 100%;
	}

	&:hover {
      color: v.$color-text-primary;

      svg path {
         fill: v.$color-text-primary;
      }
   }

	.inactive-btn {
		display: none;
	}

	.active-btn {
		display: block;
	}
}
