@use "../../utils/variables" as v;

/* LEFT PANEL */
.left-panel {
   max-width: 18rem;
   width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.6rem 1rem;
	overflow-y: hidden;
   overflow-x: hidden;
	height: 100%;
	z-index: 10;

   transition: all .2s ease;

   &.contracted {
		width: 7.5em;
		transition: all .2s ease;

      .section-change-btn {
         justify-content: center;
         span {
            display: none;
         }
      }

      .libraries-button {
         justify-content: center;

         span {
            display: none;
         }
      }

      .server-btn {
         justify-content: center;
         span {
            display: none;
         }
      }

      .add-server-btn {
         span {
            display: none;
         }
      }
   }

   .section-change-btn {
      background-color: transparent;
      border: none;
      padding: 0.5em;
      color: v.$color-text-primary;
      cursor: pointer;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      opacity: .8;
      gap: 0.5em;

      svg {
         width: 1.5em;
         height: 1.5em;
      }

      &:hover {
         opacity: 1;
      }
   }
}

/* LEFT PANEL CONTROLS */
.top-controls {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.top-controls button {
	margin-right: 5px;
}

.svg-button-desktop-controls {
	background-color: transparent;
	border-color: transparent;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.svg-button-desktop-controls:hover {
	background-color: rgba(0, 0, 0, 0.739);
}

.svg-button-desktop-controls svg {
	width: 26px;
	height: 26px;
}

.svg-add-library-btn {
	background-color: transparent;
	border-color: transparent;
	border-radius: 5px;
	padding: 10px 15px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	cursor: pointer;
}

.svg-add-library-btn:hover {
	background-color: rgba(0, 0, 0, 0.739);
}

.svg-add-library-btn svg {
	width: 16px;
	height: 16px;
}

.svg-add-library-btn span {
	color: v.$color-text-primary;
	margin-left: 10px;
}
